<h1 class="login-title author">Login</h1>
<form action="/admin/login" method="POST" class="login-form">
  <label for="username">USERNAME</label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder="Enter username"
  />
  <label for="password">PASSWORD</label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="Enter password"
  />
  <div class="submit-container">
    <input type="submit" value="Submit" class="btn-secondary" />
  </div>
</form>

<% if (message.length !== 0) {  %>
  <%- include('.././partials/danger.ejs', {message: message[0]}) %>
<% } %>