

<header class="header">
  <div class="grid container container-flex">
    <div class="header__logo">
      <a href="/" class="header__nav-link">M ∆ R V E L</a>
    </div>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/" class="header__nav-link <%= isCurrentRoute('home',currentRoute) %>">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="/about" class="header__nav-link <%= isCurrentRoute('about',currentRoute) %>">About</a>
        </li>
        <li class="header__nav-item">
          <a href="/contact" class="header__nav-link <%= isCurrentRoute('contact',currentRoute) %>">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__search">
      <button class="header__search-button btn">
        <p>Search</p>
        <img
          src="/img/search.svg"
          alt="search image"
          style="max-height: 35px"
        />
      </button>
    </div>
  </div>
</header>
