<div class="searchContainer close">
  <div class="container">
    <form action="/search" class="searchForm" method="GET">
      <input
        type="text"
        placeholder="Search..."
        class="searchInput"
        name="searchTerm"
      />
    </form>
    <div class="searchCloseContainer">
      <button class="searchClose">Close</button>
    </div>
  </div>
</div>
