<div class="searchContainer close">
  <div class="container">
    <form action="" class="searchForm">
      <input type="text" placeholder="Search..." class="searchInput" />
    </form>
    <div class="searchCloseContainer">
      <button class="searchClose">Close</button>
    </div>
  </div>
</div>
