<div class="about display-flex-center-column">
  <div class="author">
    <h1>About</h1>
  </div>
  <img
    src="/img/robot.webp"
    alt="owner self picture"
    class="about__img"
    style="
      max-height: 600px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      object-position: top;
      margin-bottom: 2em;
    "
  />
  <p>
    Hi everyone! My name is Marvel Pangondian, and I am a student at the Bandung
    Institute of Technology, majoring in Computer Science. I'm currently in my
    third year of college, and as you can see, this is my first web application
    (a blog) built using HTML, CSS, JavaScript, and Node.js. I started this
    project to better understand how the web works, both on the front-end and
    back-end. Admittedly, I'm a bit of a late bloomer—while many others
    completed their websites in their first or second year, here I am in my
    third year creating my first one. But better late than never, right?
  </p>
  <br />
  <p>
    My programming journey officially began in my second year of college, which
    might seem unusual for a Computer Science major. Let me explain: at my
    university, all first-year students take foundational courses like Math,
    Physics, and English. We did have one programming-related course,
    "Introduction to Computation," where we learned the basics like loops and
    conditions. We used Python as our main programming language, and looking
    back, I really enjoyed it. However, after using other programming languages,
    Python now feels a bit strange to me (I'm sure other programmers can
    relate!). Although my first year was a bit uneventful, it was still a
    valuable time.
  </p>
  <br />
  <p>
    My second year is when things really started to pick up—fast! We delved into
    topics like data structures, algorithms, databases, operating systems, and
    more. One thing I quickly realized was the sheer volume of tasks we had to
    complete. There were nights where I lost sleep just to get everything done.
    Interestingly, most of these tasks had little to do with web development.
    When web-related tasks did come up, they were usually group projects, and I
    was often assigned to work on algorithms (since, at the time, I didn't
    understand the basics of building a website). As a result, I had little to
    no experience with web development. That's why, in my third year, I decided
    to focus on learning web development and created this, my very first
    website. I hope you enjoy it!
  </p>
</div>
