<div class="contact display-flex-center-column" style ="text-align: center;">
  <h1 style="margin-bottom: 0.5em">Contact Me!</h1>
  <h3 style="margin-bottom: 2.8em">your friendly neighborhood CS student</h3>
  <div class="contact__links display-flex-center gap-lg">
    <a href="https://github.com/MarvelPangondian" target="_blank">
      <img src="/img/github.svg" alt="github image" />
    </a>
    <a
      href="https://linkedin.com/in/marvel-pangondian-104811284"
      target="_blank"
    >
      <img src="/img/linkedin.svg" alt="linkedin image" />
    </a>
    <a href="mailto:marvel.pangondian01@gmail.com">
      <img src="/img/email.svg" alt="email image" />
    </a>
  </div>
</div>
