<div class="container post">
  <div class="post__header" style="padding-bottom: 2em">
    <h1 class="post__title"><%= post.title %></h1>
    <p class="article-list__date"><%= post.createdAt.toDateString() %></p>
  </div>
  <p><%= post.body %></p>
</div>
