@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-size-base: 1rem;
  --font-size-text: 1.25rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-color-primary: #ffffff;
  --dark-blue: #27374d;
  --dark-blue-hover: #1a2433;
  --danger-color: #ef5a6f;
  --info-color: #1767d6;
  --background-color-primary: #526d82;
  --border-radius: 10px;
  --font-family-primary: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--background-color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  color: var(--font-color-primary);
  padding-bottom: 100px;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: var(--font-size-text);
}

.btn {
  font-size: var(--font-size-md);
  font-family: var(--font-family-primary);
  color: var(--font-color-primary);
  background: none;
  border: none;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.container-center {
  text-align: center;
}

/* HEADER */
header {
  background-color: var(--dark-blue);
  font-size: var(--font-size-md);
  padding: 2.5em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.8em;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 1em;
  grid-template-areas:
    "logo search"
    "menu menu";
}

.header__search-button p {
  font-size: var(--font-size-md);
}

@media (min-width: 780px) {
  .grid {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu search";
  }
  .header__search-button p {
    display: initial;
  }
}

.header__logo {
  grid-area: logo;
  font-weight: 800;
}

.header__nav {
  grid-area: menu;
  text-align: center;
}

.header__nav-list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.header__nav-item {
  list-style: none;
}

.header a {
  color: var(--font-color-primary);
}

.header__search,
.header__login {
  grid-area: search;
  display: flex;
  justify-content: end;
}

.header__login a {
  font-size: var(--font-size-md);
}

.header__search-button,
.header__login-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  cursor: pointer;
  padding: 0;
}

/* MAIN */

.author {
  text-align: center;
  margin-bottom: 4em;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.author-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  border-radius: var(--border-radius);
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 4.5em;
}
.articles__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}
.articles__header a {
  color: var(--font-color-primary);
  font-size: var(--font-size-md);
  font-weight: 300;
}

.articles h2 {
  font-weight: 800;
  margin-bottom: 1.2em;
}

.articles__header h2 {
  margin-bottom: 0.1em;
}

@media only screen and (min-width: 780px) {
  .article-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .articles__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.article-list {
  padding: 0;
}

.article-list li:hover {
  filter: none;
}
.article-list:hover li {
  filter: blur(3px);
}

.article-list:hover li:hover {
  filter: none;
}

.article-list li {
  list-style: none;
  font-size: var(--font-size-md);
  padding: 1em 0;
  transition: all 0.15s;
}

.article-list li:first-child {
  padding-top: 0;
}
.article-list li:not(:last-child) {
  border-bottom: 1px solid var(--font-color-primary);
}

.article-list li:last-child {
  margin-bottom: 2.5em;
}

.article-list a {
  color: var(--font-color-primary);
}

.article-list__admin {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.article-list__admin .btn-secondary {
  padding: 0.7em 0.9em;
}

@media only screen and (min-width: 780px) {
  .article-list__admin {
    flex-direction: row;
    justify-content: space-between;
  }
}

.article-list__date {
  font-size: var(--font-size-base);
  opacity: 0.6;
}

.article-list__buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.article-list__buttons button {
  transition: background-color 0.3s;
}
.article-list__buttons .delete-button:hover {
  background-color: var(--danger-color);
}

.article-list__buttons .edit-button:hover {
  background-color: var(--info-color);
}

.pagination {
  color: var(--font-color-primary);
}

.pagination:hover {
  text-decoration: underline;
}

.all-pagination {
  display: flex;
  justify-content: space-between;
}

.all-pagination-right {
  justify-content: end;
}
/* FOOTER */
footer {
  margin-top: 2em;
  text-align: center;
  margin-top: 5em;
}

/* SEARCHBAR */
.searchContainer {
  background-color: var(--dark-blue-hover);
  position: fixed;
  left: 0;
  right: 0;
  padding-top: 1.8em;
  padding-bottom: 1.38em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.close {
  transform: translateY(-100%);
}

.searchCloseContainer {
  display: flex;
  justify-content: end;
}

input,
textarea {
  border-radius: var(--border-radius);
  font-family: var(--font-family-primary);
  padding: 0.5em 0.8em;
  border: none;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-family-primary);
}

input:focus,
textarea:focus {
  outline: 0;
}

.searchInput {
  width: 100%;
  font-size: var(--font-size-base);
  margin-bottom: 0.5em;
}

.searchInput::placeholder {
  font-size: var(--font-size-base);
}

.searchClose {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  color: var(--font-color-primary);
  background: none;
  border: none;
}

/* MISC COMPONENTS  */
.flash {
  text-align: center;
  border-radius: var(--border-radius);
  color: var(--font-color-primary);
  font-weight: 800;
  padding: 30px 0;
}

.danger {
  background: rgba(239, 90, 111, 0.5);
}

.danger h2 {
  margin: 0;
}

/* CONTACT */

.display-flex-center,
.display-flex-center-row,
.display-flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-flex-center-column {
  flex-direction: column;
}

.gap-md {
  gap: 1em;
}
.gap-lg {
  gap: 2em;
}

.contact {
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ABOUT */
.about p {
  text-align: justify;
  font-size: var(--font-size-base);
}

@media only screen and (min-width: 900px) {
  .about p {
    font-size: var(--font-size-md);
  }
}

/* LOGIN */

.login-title {
  margin-bottom: 1.75em;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-md);
}

.login-form input,
.login-form textarea {
  margin-bottom: 2em;
  margin-top: 2em;
  font-size: var(--font-size-md);
}

.submit-container {
  display: flex;
  justify-content: end;
}

.btn-secondary {
  font-size: var(--font-size-base);
  font-family: var(--font-family-primary);
  border: none;
  border-radius: var(--border-radius);
  padding: 1em;
  background-color: var(--dark-blue);
  color: var(--font-color-primary);
}
