<header class="header">
  <div class="grid container container-flex">

    <a href="/" class="header__logo header__nav-link">NodeJS</a>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="/about" class="header__nav-link">About</a>
        </li>
        <li class="header__nav-item">
          <a href="/contact" class="header__nav-link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__search">
      <button class="header__search-button btn" aria-expanded="false">
        Search<img src="./img/search.svg" alt="search image">
      </button>
    </div>
  </div>
</header>
